<template>
  <div class="modal-content">
    <div class="fixed z-10 inset-0 overflow-y-auto">
      <div
        class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0"
      >
        <div class="fixed inset-0 transition-opacity" aria-hidden="true">
          <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
        </div>

        <span
          class="hidden sm:inline-block sm:align-middle sm:h-screen"
          aria-hidden="true"
          >&#8203;</span
        >

        <div
          class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full"
          role="dialog"
          aria-modal="true"
          aria-labelledby="modal-headline"
        >
          <div class="bg-white px-4 sm:p-6">
            <div class="w-full">
              <div class="mt-3 text-center sm:mt-0 sm:text-left">
                <h3
                  class="text-lg leading-6 font-medium text-gray-900"
                  id="modal-headline"
                >
                  ADD PRODUCT
                </h3>
                <div v-if="this.error" class="flex">
                  <span class="text-red-800">{{ this.uploadStatus }}</span>
                </div>
                <div v-if="this.uploadStatus" class="flex">
                  <svg
                    class="animate-spin h-5 w-5 mr-3 fill-current text-blue-800 bg-blue-800"
                    stroke="currentColor"
                    viewBox="0 0 24 24"
                  ></svg>
                  <span class="text-blue-800">{{ this.uploadStatus }}</span>
                </div>
                <div class="mt-2">
                  <div class="mb-3">
                    <label
                      for="name"
                      class="block text-sm font-medium text-gray-700"
                      >Name</label
                    >
                    <div class="mt-2 flex items-center">
                      <input
                        class="border border-gray-300 w-full py-2 px-3 rounded-md shadow-sm"
                        for="name"
                        v-model="product.product_name"
                        type="text"
                        placeholder="Name"
                      />
                    </div>
                  </div>
                  <div class="mb-3">
                    <label
                      for="price"
                      class="block text-sm font-medium text-gray-700"
                      >Price</label
                    >
                    <div class="mt-2 flex items-center">
                      <input
                        v-model="product.product_price"
                        type="number"
                        name="price"
                        id="price"
                        step="100"
                        min="100"
                        placeholder="Price"
                        class="border border-gray-300 w-full py-2 px-3 rounded-md shadow-sm"
                      />
                    </div>
                  </div>

                  <div>
                    <label class="block text-sm font-medium text-gray-700">
                      Image
                    </label>
                    <div class="mt-2 flex items-center">
                      <input
                        @change="onFileChanged"
                        type="file"
                        accept="image/png, image/jpeg"
                        class="bg-white w-full py-2 px-3 border border-gray-300 rounded-md shadow-sm text-sm leading-4 font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                      />
                    </div>
                  </div>
                  <br />
                </div>
              </div>
            </div>
          </div>
          <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
            <button
              v-if="!uploadStatus"
              @click="submit"
              class="w-full inline-flex justify-center items-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-blue-900 text-base font-medium text-white hover:bg-blue-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 sm:ml-3 sm:w-auto sm:text-sm"
            >
              <svg
                class="fill-current text-white w-4 h-4 mr-2"
                viewBox="0 0 512 512"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="m256 0c-141.16 0-256 114.84-256 256s114.84 256 256 256 256-114.84 256-256-114.84-256-256-256zm112 277.33h-90.668v90.668c0 11.777-9.5547 21.332-21.332 21.332s-21.332-9.5547-21.332-21.332v-90.668h-90.668c-11.777 0-21.332-9.5547-21.332-21.332s9.5547-21.332 21.332-21.332h90.668v-90.668c0-11.777 9.5547-21.332 21.332-21.332s21.332 9.5547 21.332 21.332v90.668h90.668c11.777 0 21.332 9.5547 21.332 21.332s-9.5547 21.332-21.332 21.332z"
                />
              </svg>
              <span>ADD PRODUCT</span>
            </button>
            <button
              @click="close"
              type="button"
              class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm"
            >
              <svg
                class="mr-2 h-5 w-5 text-gray-500"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"
                />
              </svg>
              <span>CLOSE</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";

import { uploadImage } from "../../../constants/fileUpload";

export default {
  name: "AddProductModal",
  data() {
    return {
      product: {
        product_name: "",
        product_price: "",
        img: "",
      },
      uploadStatus: null,
      error: null,
    };
  },
  computed: {
    ...mapState("product", {
      addProductLoading: (state) => state.addProductLoading,
    }),
  },
  methods: {
    onFileChanged(event) {
      this.product.img = event.target.files[0];
    },
    close() {
      this.$emit("close");
    },
    errorMessage(message) {
      this.flashMessage.error({
        title: "Error!",
        message: `${message}.`,
      });
    },
    submit() {
      if (!this.product.product_name) {
        this.errorMessage("Name cannot be empty");
        return;
      }
      if (!this.product.product_price) {
        this.errorMessage("Price cannot be empty");
        return;
      }
      if (!this.product.img) {
        this.errorMessage("Select an image please");
        return;
      }

      this.error = null;
      this.uploadStatus = "uploading image...";

      uploadImage(this.product.img)
        .then((imageLink) => {
          this.uploadStatus = "uploaded.!, saving product ...";
          this.error = null;
          this.$emit("submit", this.product, imageLink);
        })
        .then(() => {
          this.product.product_name = null;
          this.product.product_price = null;
          this.product.image = null;
          this.uploadStatus = null;
          this.error = null;
        })
        .catch(() => {
          this.errorMessage("Failed to upload image, try again later!");
          this.error = "Failed to upload image, try again later!";
        });
    },
  },
};
</script>

<style lang="css" scoped></style>
