<template>
  <div class="autocomplete">
    <div
      class="input border-gray-300 border shadow-sm py-2 px-3 rounded-md"
      @click="toggleVisible"
      v-text="selectedItem ? selectedItem[filterby] : ''"
    ></div>
    <div class="placeholder" v-if="selectedItem == null" v-text="title"></div>
    <button
      class="close text-red-600"
      @click="selectedItem = null"
      v-if="selectedItem"
    >
      <svg
        class="text-red-600 h-6 w-6 mt-1"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke="currentColor"
          stroke-width="2"
          d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"
        />
      </svg>
    </button>
    <div class="popover border-gray-300 border" v-show="visible">
      <div class="flex">
        <input
          type="text"
          ref="input"
          v-model="query"
          @keydown.up="up"
          @keydown.down="down"
          @keydown.enter="selectItem"
          placeholder="Start Typing..."
        />
        <button @click="toggleVisible" class="focus:outline-none">
          <svg
            class="text-red-600 h-6 w-6 mt-1"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke="currentColor"
              stroke-width="2"
              d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"
            />
          </svg>
        </button>
      </div>
      <div class="options" ref="optionsList">
        <ul>
          <li
            v-if="matches.length === 0"
            @click="addProduct"
            class="text-yellow-500"
          >
            <button>search product or click to add</button>
          </li>
          <li
            v-for="(match, index) in matches"
            :key="index"
            :class="{ selected: selected == index }"
            @click="itemClicked(index)"
            v-text="match[filterby]"
          ></li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    items: {
      //   default: [],
      type: Array,
    },
    filterby: {
      type: String,
    },
    title: {
      default: "Select One...",
      type: String,
    },
    shouldReset: {
      type: Boolean,
      default: true,
    },
  },
  data() {
    return {
      itemHeight: 39,
      selectedItem: null,
      selected: 0,
      query: "",
      visible: false,
    };
  },
  methods: {
    toggleVisible() {
      this.visible = !this.visible;
      setTimeout(() => {
        this.$refs.input.focus();
      }, 50);
    },
    itemClicked(index) {
      this.selected = index;
      this.selectItem();
    },
    selectItem() {
      if (!this.matches.length) {
        return;
      }
      this.selectedItem = this.matches[this.selected];
      this.visible = false;
      if (this.shouldReset) {
        this.query = "";
        this.selected = 0;
      }
      this.$emit("selected", JSON.parse(JSON.stringify(this.selectedItem)));
    },
    up() {
      if (this.selected == 0) {
        return;
      }
      this.selected -= 1;
      this.scrollToItem();
    },
    down() {
      if (this.selected >= this.matches.length - 1) {
        return;
      }
      this.selected += 1;
      this.scrollToItem();
    },
    scrollToItem() {
      this.$refs.optionsList.scrollTop = this.selected * this.itemHeight;
    },

    addProduct() {
      this.$router.push(`/product`);
    },
  },
  computed: {
    matches() {
      this.$emit("change", this.query);
      if (this.query == "") {
        return [];
      }
      return this.items.filter((item) =>
        item[this.filterby].toLowerCase().includes(this.query.toLowerCase())
      );
    },
  },
};
</script>

<style scoped>
.autocomplete {
  width: 240px !important;
}
.input {
  height: 45px;
  font-size: 14px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  font-size: 100%;
  cursor: text;
}
.close {
  position: absolute;
  right: 2px;
  top: 4px;
  background: none;
  border: none;
  font-size: 20px;
  color: lightgrey;
  cursor: pointer;
  padding: 0 10px;
}
.placeholder {
  position: absolute;
  top: 11px;
  left: 11px;
  font-size: 100%;
  color: #d0d0d0;
  pointer-events: none;
}
.popover {
  min-height: 50px;
  position: absolute;
  top: 46px;
  left: 0;
  right: 0;
  background: #fff;
  border-radius: 3px;
  text-align: center;
}
.popover input {
  width: 95%;
  margin-top: 5px;
  height: 40px;
  font-size: 14px;
  border-radius: 3px;
  border: 1px solid lightgray;
  padding-left: 8px;
}
.options {
  max-height: 150px;
  overflow-y: scroll;
  margin-top: 5px;
}
.options ul {
  list-style-type: none;
  text-align: left;
  padding-left: 0;
}
.options ul li {
  border-bottom: 1px solid lightgray;
  padding: 10px;
  cursor: pointer;
  background: #f1f1f1;
}
.options ul li:first-child {
  border-top: 2px solid #d6d6d6;
}
.options ul li:not(.selected):hover {
  background: #8c8c8c;
  color: #fff;
}
.options ul li.selected {
  background: #1e3a8a;
  color: #fff;
  font-weight: 600;
}
</style>
