<template>
  <div class="w-full h-full flex justify-center items-center">
    <div class="flex flex-col">
      <p class="font-sans text-blue-900 error-text">404</p>
      <button
        class="bg-blue-900 px-4 py-2 text-blue-100 shadow-sm hover:bg-blue-800 hover:text-white rounded-md"
        @click="goBack"
      >
        GO BACK
      </button>
    </div>
  </div>
</template>

<script>
export default {
  methods: {
    goBack() {
      this.$router.back();
    },
  },
};
</script>

<style lang="css" scoped>
.error-text {
  font-size: 130px;
}
</style>
