<template>
  <div>
    <AddCustomerInvoice
      v-show="this.isModalVisible"
      @close="closeModal"
      @submit="submitInvoice"
    />

    <DeleteModal
      @onDelete="onDeleteInvoice"
      v-show="this.isDeleteModalVisible"
      @close="closeDeleteModal"
      :name-title="`invoice #${customerInvoice[0].invoice_no}`"
    />

    <ConfirmModal
      @goToRoute="goToRoute"
      v-show="this.isConfirmModalVisible"
      @close="closeConfirmModal"
      title="successful"
      closeButtonTitle="CLOSE"
      goToButtonTitle="ADD PRODUCTS TO INVOICE"
    />

    <EditInvoiceModal
      v-show="this.isEditModalVisible"
      @close="closeEditModal"
      @submit="submitEditedInvoice"
    />
    <div class="flex">
      <span class="block my-3">
        <button
          @click="openModal"
          class="inline-flex justify-center items-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-blue-900 text-base font-medium text-white hover:bg-blue-800 sm:w-auto sm:text-sm focus:outline-none"
          type="button"
        >
          <svg
            class="fill-current text-white w-4 h-4 mr-2"
            viewBox="0 0 512 512"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="m256 0c-141.16 0-256 114.84-256 256s114.84 256 256 256 256-114.84 256-256-114.84-256-256-256zm112 277.33h-90.668v90.668c0 11.777-9.5547 21.332-21.332 21.332s-21.332-9.5547-21.332-21.332v-90.668h-90.668c-11.777 0-21.332-9.5547-21.332-21.332s9.5547-21.332 21.332-21.332h90.668v-90.668c0-11.777 9.5547-21.332 21.332-21.332s21.332 9.5547 21.332 21.332v90.668h90.668c11.777 0 21.332 9.5547 21.332 21.332s-9.5547 21.332-21.332 21.332z"
            />
          </svg>
          NEW INVOICE
        </button>
      </span>
      <span class="block my-3 mx-3">
        <button
          class="inline-flex justify-center items-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-blue-900 text-base font-medium text-white hover:bg-blue-800 sm:w-auto sm:text-sm focus:outline-none cursor:pointer"
        >
          <download-csv class="inline-flex" :data="customerInvoices">
            <svg
              class="fill-current w-4 h-4 mr-2"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z"
              />
            </svg>
            EXPORT CSV
          </download-csv>
        </button>
      </span>
    </div>
    <div class="pr-3 py-3" v-if="this.customer.name">
      <h2 class="font-bold text-1xl">
        {{ ` Customer: ${this.customer.name} ` }}
      </h2>
    </div>
    <div
      v-if="customerInvoices.length === 0 && !customerInvoicesLoading"
      class="bg-yellow-100 border-l-4 border-yellow-500 text-yellow-700 p-4"
      role="alert"
    >
      <p>No invoice found for {{ this.customer.name }}</p>
    </div>
    <table class="table-auto">
      <thead>
        <tr>
          <th scope="col" class="pr-6 py-3 text-left uppercase tracking-wider">
            Invoice no
          </th>
          <th scope="col" class="px-6 py-3 text-left uppercase tracking-wider">
            Invoice date
          </th>
          <th scope="col" class="px-6 py-3 text-left uppercase tracking-wider">
            Due date
          </th>
          <th scope="col" class="px-6 py-3 text-left uppercase tracking-wider">
            Actions
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
          v-for="customerInvoice in customerInvoices"
          v-bind:key="customerInvoice.id"
          class="border-t border-gray-300"
        >
          <td class="pr-6 py-4 whitespace-nowrap">
            #{{ customerInvoice.invoice_no }}
          </td>
          <td class="px-6 py-4 whitespace-nowrap">
            {{ customerInvoice.createdAt | moment("dddd, MMMM Do YYYY") }}
          </td>
          <td class="px-6 py-4 whitespace-nowrap">
            {{ customerInvoice.due_date | moment("dddd, MMMM Do YYYY") }}
          </td>
          <td class="px-6 py-4 whitespace-nowrap">
            <div class="flex">
              <span class="block">
                <button
                  @click="openEditModal(customerInvoice)"
                  type="button"
                  class="inline-flex items-center px-2 py-1 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 bg-white hover:bg-gray-50 focus:outline-none"
                >
                  EDIT
                </button>
              </span>
              <span class="block ml-3">
                <button
                  @click="openDeleteModal(customerInvoice)"
                  type="button"
                  class="inline-flex items-center px-2 py-1 border border-red-300 rounded-md shadow-sm text-sm font-medium text-red-600 bg-white hover:text-white hover:bg-red-600 focus:outline-none"
                >
                  DELETE
                </button>
              </span>
              <router-link
                :to="`/customer/${currentCustomerId}/invoice/${customerInvoice.id}`"
              >
                <span class="block ml-3">
                  <button
                    type="button"
                    class="inline-flex items-center px-2 py-1 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                  >
                    DETAILS
                  </button>
                </span>
              </router-link>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";
import JsonCSV from "vue-json-csv";

import AddCustomerInvoice from "../components/AddCustomerInvoice";
import DeleteModal from "../../../components/DeleteModal";
import ConfirmModal from "../../../components/ConfirmModal";
import EditInvoiceModal from "../components/EditInvoiceModal";

export default {
  name: "CustomerInvoices",
  components: {
    "download-csv": JsonCSV,
    AddCustomerInvoice,
    DeleteModal,
    EditInvoiceModal,
    ConfirmModal,
  },
  data() {
    return {
      currentCustomerId: this.$route.params.id,
    };
  },
  computed: {
    ...mapState("customer", {
      customerInvoices: (state) => state.customerInvoices,
      customerInvoice: (state) => state.customerInvoice,
      customerInvoicesLoading: (state) => state.customerInvoicesLoading,
      isDeleteModalVisible: (state) => state.isDeleteModalVisible,
      isEditModalVisible: (state) => state.isEditModalVisible,
      isModalVisible: (state) => state.isModalVisible,
      customer: (state) => state.customer,
      isConfirmModalVisible: (state) => state.isConfirmModalVisible,
    }),
  },

  created() {
    this.getOneCustomer(this.currentCustomerId).then(() => {
      this.now = new Date(Date.now()).toISOString();
      return this.getCustomerInvoices(this.currentCustomerId);
    });
  },

  methods: {
    ...mapActions("customer", {
      getCustomerInvoices: "getCustomerInvoices",
      getOneCustomer: "getOneCustomer",
      onCloseDeleteModal: "closeDeleteModal",
      onOpenDeleteModal: "openDeleteModal",
      onOpenModal: "openModal",
      onCloseModal: "closeModal",
      onAddInvoice: "addInvoice",
      setCustomerInvoice: "setCustomerInvoice",
      onOpenEditModal: "openEditModal",
      deleteInvoice: "deleteInvoice",
      onCloseEditModal: "closeEditModal",
      onEditInvoice: "onEditInvoice",
      onCloseConfirmModal: "onCloseConfirmModal",
    }),

    openModal() {
      this.onOpenModal();
    },

    closeModal() {
      this.onCloseModal();
    },

    submitInvoice(invoice) {
      const id = this.customerInvoices[0] ? this.customerInvoices[0].id : "1";
      const invoiceData = {
        id: id,
        customerId: this.currentCustomerId,
        createdAt: new Date(Date.now()).toISOString(),
        invoice_no: invoice.invoice_no,
        due_date: new Date(invoice.due_date).toISOString(),
      };
      this.onAddInvoice(invoiceData);
    },

    openDeleteModal(customerInvoice) {
      this.setCustomerInvoice(customerInvoice);
      this.onOpenDeleteModal();
    },

    onDeleteInvoice() {
      const invoiceData = this.customerInvoice[0];
      this.deleteInvoice(invoiceData);
    },
    closeDeleteModal() {
      this.onCloseDeleteModal();
    },

    closeEditModal() {
      this.onCloseEditModal();
    },

    openEditModal(customerInvoice) {
      this.setCustomerInvoice(customerInvoice);
      this.onOpenEditModal();
    },

    submitEditedInvoice(editedInvoice) {
      const invoiceData = {
        id: editedInvoice.id,
        createdAt: editedInvoice.createdAt,
        customerId: editedInvoice.customerId,
        due_date: new Date(editedInvoice.due_date).toISOString(),
        invoice_no: editedInvoice.invoice_no,
      };

      this.onEditInvoice(invoiceData);
    },

    closeConfirmModal() {
      this.onCloseConfirmModal();
    },

    goToRoute() {
      const { customerId, id } = this.customerInvoice[0];
      this.$router.push(`/customer/${customerId}/invoice/${id}`);
      this.onCloseConfirmModal();
    },
  },
};
</script>
