<template>
  <div class="shadow-md flex flex-col p-5">
    <DeleteModal
      @onDelete="onDeleteInvoiceItem"
      v-show="this.isDeleteModalVisible"
      @close="closeDeleteModal"
      :name-title="invoiceItem.item_name"
    />

    <EditInvoiceItemModal
      v-show="this.isEditModalVisible"
      @close="closeEditModal"
      @submit="submitEditedIvoiceItem"
    />

    <span class="block mb-2">
      <button
        @click="goBack"
        type="button"
        class="inline-flex items-center px-2 py-1 border-blue-300 rounded-md shadow-sm text-sm font-medium text-blue-700 bg-white border focus:outline-none hover:bg-blue-200"
      >
        <svg
          class="text-blue-600 w-4 h-4 mr-2"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M11 15l-3-3m0 0l3-3m-3 3h8M3 12a9 9 0 1118 0 9 9 0 01-18 0z"
          />
        </svg>
        Bact to invoices
      </button>
    </span>
    <div class="flex flex-row justify-between mb-6">
      <div>
        <h1 class="text-3xl">Invoice</h1>
      </div>
      <div
        class="w-20 h-20 bg-no-repeat bg-contain"
        style="
          background-image: url('https://fltug.com/wp-content/themes/jkl/svg/future-link-logo.svg');
        "
      ></div>
    </div>
    <div class="mb-6">
      <h2 class="text-2xl bold">Bill To</h2>
      <div class="flex flex-row justify-between">
        <div class="text-gray-500">
          <h2>{{ this.customer.name }}</h2>
          <h5>{{ this.customer.address }}</h5>
        </div>
        <div class="text-gray-500">
          <h2>Future Link Technologies</h2>
          <h4>Plot 97, Bukoto street</h4>
        </div>
      </div>
    </div>
    <div class="flex flex-row justify-between">
      <table>
        <tbody>
          <tr>
            <td class="bold">Invoice number:</td>
            <td
              class="pl-6 text-gray-500"
              v-if="this.customerInvoice.length > 0"
            >
              # {{ this.customerInvoice[0].invoice_no }}
            </td>
          </tr>
        </tbody>
      </table>
      <div class="mb-6" v-if="this.customerInvoice.length > 0">
        <table>
          <tbody>
            <tr>
              <td class="bold">Invoice date:</td>
              <td class="pl-6 text-gray-500">
                {{
                  this.customerInvoice[0].createdAt
                    | moment("dddd, MMMM Do YYYY")
                }}
              </td>
            </tr>
            <tr>
              <td class="bold">Due date:</td>
              <td class="pl-6 text-gray-500">
                {{
                  this.customerInvoice[0].due_date
                    | moment("dddd, MMMM Do YYYY")
                }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div
      v-if="invoiceItems.length === 0 && !customerInvoicesLoading"
      class="mb-3 bg-yellow-100 border-l-4 border-yellow-500 text-yellow-700 p-4"
      role="alert"
    >
      <p>Invoice #{{ this.customerInvoice[0].invoice_no }} has no product</p>
    </div>
    <div class="mb-6">
      <table class="table-auto w-full">
        <thead class="bg-blue-900 text-white">
          <th scope="col" class="text-left">Product/services</th>
          <th scope="col" class="text-left">Quantity</th>
          <th scope="col" class="text-left">Cost</th>
          <th scope="col" class="text-left">Price</th>
          <th scope="col" class="text-left">Action</th>
        </thead>
        <tbody>
          <tr
            class="border py-2"
            v-for="invoiceItem in invoiceItems"
            v-bind:key="invoiceItem.id"
          >
            <td>{{ invoiceItem.item_name }}</td>
            <td>{{ comaSeperator(parseInterger(invoiceItem.quantity)) }}</td>
            <td>{{ comaSeperator(parseInterger(invoiceItem.item_price)) }}</td>
            <td>
              {{
                comaSeperator(
                  parseInterger(invoiceItem.quantity) *
                    parseInterger(invoiceItem.item_price)
                )
              }}
            </td>
            <td>
              <span class="block">
                <button
                  @click="openEditModal(invoiceItem)"
                  type="button"
                  class="inline-flex items-center px-2 py-1 border border-blue-300 rounded-md shadow-sm text-sm font-medium text-blue-600 bg-white hover:text-white hover:bg-blue-600 focus:outline-none"
                >
                  EDIT
                </button>

                <button
                  @click="openDeleteModal(invoiceItem)"
                  type="button"
                  class="mr-2 inline-flex items-center px-2 py-1 border border-red-300 rounded-md shadow-sm text-sm font-medium text-red-600 bg-white hover:text-white hover:bg-red-600 focus:outline-none"
                >
                  DELETE
                </button>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
      <div v-if="finalTotal" class="float-right text-2xl bold">
        total: {{ finalTotal }}
      </div>
    </div>

    <div class="mb-40">
      <h2 class="text-lg py-2 text-blue-900">Add Item to ivoice</h2>
      <div
        v-for="(input, index) in items"
        :key="index"
        class="flex flex-col md:flex-row"
      >
        <div>
          <AutoComplete
            :items="products"
            filterby="product_name"
            title="select product"
            @selected="productSelected"
          />
        </div>
        <input
          class="border border-gray-300 py-2 mx-0 my-2 md:my-0 md:mx-2 px-3 rounded-md shadow-sm focus:none"
          v-model="input.price"
          type="number"
          placeholder="Price"
          disabled
        />
        <input
          class="border border-gray-300 py-2 px-3 rounded-md shadow-sm focus:none"
          v-model="input.quantity"
          type="number"
          placeholder="Quantity"
        />
      </div>
      <div class="mt-8">
        <button
          class="inline-flex justify-center items-center rounded-md border border-transparent shadow-sm px-4 py-2 my-2 bg-blue-900 text-base font-medium text-white hover:bg-blue-800 sm:w-auto sm:text-sm focus:outline-none"
          @click="submitInvoiceItem()"
        >
          submit
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";

import { checkProperties } from "../../../helper-functions";
import DeleteModal from "../../../components/DeleteModal";
import AutoComplete from "../../../components/AutoComplete";
import EditInvoiceItemModal from "../components/EditInvoiceItemModal";

export default {
  name: "CustomerInvoice",
  components: { DeleteModal, AutoComplete, EditInvoiceItemModal },
  data() {
    return {
      currentCustomerId: this.$route.params.customerId,
      currentInvoiceId: this.$route.params.invoiceId,
      items: [{ name: "", price: "", quantity: "" }],
      finalTotal: null,
    };
  },

  computed: {
    ...mapState("customer", {
      isEditModalVisible: (state) => state.isEditModalVisible,
    }),

    ...mapState("product", {
      products: (state) => state.products,
    }),

    ...mapState("customer", {
      customerInvoices: (state) => state.customerInvoices,
      customerInvoicesLoading: (state) => state.customerInvoicesLoading,
      isDeleteModalVisible: (state) => state.isDeleteModalVisible,
      invoiceItem: (state) => state.invoiceItem,
      customerInvoice: (state) => state.customerInvoice,
      invoiceItems: (state) => state.invoiceItems,
      customer: (state) => state.customer,
    }),
  },

  created() {
    this.getOneCustomer(this.currentCustomerId)
      .then(() =>
        this.getCustomerInvoice({
          currentCustomerId: this.currentCustomerId,
          currentInvoiceId: this.currentInvoiceId,
        })
      )
      .then(() =>
        this.getInvoiceItems({
          currentCustomerId: this.currentCustomerId,
          currentInvoiceId: this.currentInvoiceId,
        })
      )
      .then(() => this.getAllProducts())
      .finally(() => this.getInvoiceTotal());
  },

  methods: {
    ...mapActions("customer", {
      getCustomerInvoice: "getCustomerInvoice",
      getOneCustomer: "getOneCustomer",
      getInvoiceItems: "getInvoiceItems",
      submitItem: "submitItem",
      onCloseDeleteModal: "closeDeleteModal",
      onOpenDeleteModal: "openDeleteModal",
      setItemToDelete: "setItemToDelete",
      deleteItem: "deleteItem",
      setItemToEdit: "setItemToEdit",
      onEditIvoiceItem: "onEditIvoiceItem",
      onCloseEditModal: "closeEditModal",
      onOpenEditModal: "openEditModal",
    }),

    ...mapActions("product", {
      getAllProducts: "getAll",
      setProductToEdit: "setProductToEdit",
    }),
    getInvoiceTotal() {
      const total = this.invoiceItems.reduce(function (total, item) {
        return total + this.parseInterger(item.item_price);
      }, 0);
      console.log(this.invoiceItems);
      console.log(total);
    },
    parseInterger(string) {
      return parseInt(string, 10);
    },
    comaSeperator(number) {
      return number.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    },
    closeDeleteModal() {
      this.onCloseDeleteModal();
    },

    closeEditModal() {
      this.onCloseEditModal();
    },

    openDeleteModal(item) {
      this.setItemToDelete(item);
      this.onOpenDeleteModal();
    },

    onDeleteInvoiceItem() {
      this.deleteItem({
        itemId: this.invoiceItem.id,
        currentCustomerId: this.currentCustomerId,
        currentInvoiceId: this.currentInvoiceId,
      });
    },

    productSelected(product) {
      this.items[0].name = product.product_name;
      this.items[0].price = product.product_price;
    },

    openEditModal(product) {
      this.setItemToEdit(product);
      this.onOpenEditModal();
    },

    submitEditedIvoiceItem(item) {
      this.onEditIvoiceItem({
        item,
        currentCustomerId: this.currentCustomerId,
      });
    },

    submitInvoiceItem() {
      const isEveryPropertie = checkProperties(this.items);
      if (!isEveryPropertie) {
        return this.flashMessage.error({
          title: "Error!",
          message: "Provide all item input values.",
        });
      }

      this.submitItem({
        item: this.items[0],
        customerInvoice: this.customerInvoice,
      }).then(() => {
        this.items = [
          {
            name: "",
            price: "",
            quantity: "",
          },
        ];
      });
    },

    goBack() {
      this.$router.back();
    },
  },
};
</script>

<style lang="css" scoped>
.autocomplete {
  position: relative;
  width: 130px;
}

.autocomplete-results {
  padding: 0;
  margin: 0;
  border: 1px solid #eeeeee;
  height: 120px;
  overflow: auto;
}

.autocomplete-result {
  list-style: none;
  text-align: left;
  padding: 4px 2px;
  cursor: pointer;
}

.autocomplete-result:hover {
  background-color: #4aae9b;
  color: white;
}
</style>
