<template>
  <div>
    <header
      class="flex fixed w-full top-0 justify-between items-center py-4 px-6 bg-white border-b-4 flt-border"
    >
      <div class="flex items-center">
        <button
          @click="toggleNavBar"
          class="text-gray-500 focus:outline-none lg:hidden"
        >
          <svg
            class="h-6 w-6"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M4 6H20M4 12H20M4 18H11"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
          </svg>
        </button>
      </div>

      <div class="flex items-center">
        <div class="relative">
          <div class="flex items-center">
            <p class="mx-1">Okumu Justine</p>
            <button
              class="relative block h-8 w-8 rounded-full overflow-hidden shadow focus:outline-none"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z"
                />
              </svg>
            </button>
          </div>
        </div>
      </div>
    </header>

    <div
      class="main md:ml-0 sm:ml-0 xl:ml-customMaxMainWidthlg lg:ml-customMaxMainWidth"
    >
      <FlashMessage blockClass="z-50" :position="'right top'"></FlashMessage>
      <NotFoundModal v-show="this.statusCode404" @goBack="goBack" />
      <div
        v-if="!onLine"
        class="closealertbutton bg-yellow-100 border-l-4 border-yellow-500 text-yellow-700 p-4"
        role="alert"
      >
        <p>You appear to be offline, check your internet connection please!</p>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
          />
        </svg>
      </div>
      <router-view />
    </div>
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";

import NotFoundModal from "./components/NotFoundModal";

export default {
  name: "App",
  components: { NotFoundModal },
  data() {
    return { onLine: navigator.onLine, showBackOnline: false };
  },
  computed: {
    ...mapState("dashboard", {
      isOpened: (state) => state.isOpened,
    }),

    ...mapState("customer", {
      statusCode404: (state) => state.statusCode404,
      customerSucessAlert: (state) => state.customerSucessAlert,
      customerAlertMsg: (state) => state.customerAlertMsg,
    }),
    ...mapState("product", {
      productSucessAlert: (state) => state.productSucessAlert,
      productAlertMsg: (state) => state.productAlertMsg,
    }),
  },

  methods: {
    ...mapActions("dashboard", {
      toggleNav: "toggleNav",
    }),
    ...mapActions("customer", {
      resetCustomerAlert: "resetCustomerAlert",
    }),
    ...mapActions("product", {
      resetProductAlert: "resetProductAlert",
    }),

    toggleNavBar() {
      this.toggleNav();
    },

    goBack() {
      this.$router.back();
    },

    updateOnlineStatus(e) {
      const { type } = e;
      this.onLine = type === "online";
    },
  },

  watch: {
    onLine(v) {
      if (v) {
        this.showBackOnline = true;
        setTimeout(() => {
          this.showBackOnline = false;
        }, 1000);
      }
    },
    customerSucessAlert(newValue, oldValue) {
      if (oldValue) {
        return;
      }
      if (newValue) {
        this.flashMessage.success({
          title: "Successful!",
          message: this.customerAlertMsg,
        });
      }

      this.resetCustomerAlert();
    },

    productSucessAlert(newValue, oldValue) {
      if (oldValue) {
        return;
      }
      if (newValue) {
        this.flashMessage.success({
          title: "Successful!",
          message: this.productAlertMsg,
        });
      }

      this.resetProductAlert();
    },
  },

  mounted() {
    window.addEventListener("online", this.updateOnlineStatus);
    window.addEventListener("offline", this.updateOnlineStatus);
  },
  beforeDestroy() {
    window.removeEventListener("online", this.updateOnlineStatus);
    window.removeEventListener("offline", this.updateOnlineStatus);
  },
};
</script>

<style lang="css">
.flt-blue-bg {
  background-color: #064579;
}

.flt-border {
  border-color: #064579;
}

body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  width: 130px;
  position: fixed;
  top: 0px;
  left: 10px;
  background: #eee;
  overflow-x: hidden;
  padding: 8px 0;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #2196f3;
  display: block;
}

.sidenav a:hover {
  color: #064579;
}

.customMaxMainWidth {
  margin-left: 174px;
}

.customMinMainWidth {
  margin-left: 0px;
}

.main {
  margin-top: 78px;
  font-size: 16px;
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50%;
  padding: 20px;
  background: #ffffff;
}

.router-link-active {
  background-color: #1e40af !important;
  border-left-width: 4px;
  border-color: #ffffff !important;
}

#nprogress .bar {
  background: #29d;
  height: 4px !important;
}

._vue-flash-msg-body {
  z-index: 10000000 !important;
}
</style>
